@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap");

body,
button {
  font-family: "Karla", sans-serif;
}

body {
  color: white;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header"
    "Main Main Main"
    "Footer Footer Footer";
  height: 100vh;
  overflow: hidden;
}

header {
  grid-area: Header;
  padding: 12px 24px;
}

main {
  grid-area: Main;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
}

footer {
  grid-area: Footer;
  padding: 24px;
}